*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(80, 170, 170);
    text-align: center;
    font-family: Verdana, "Times New Roman", sans-serif;
}

img {
    height: auto;
    width: 600px;
}

.recipe {
    text-align: justify;
    background-color:rgb(161, 219, 219);
    padding: 5em;
    width: 800px;
}